name: PR

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build-with-xk6:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false
      - name: get k6 version
        run: |
          K6_VERSION=$(cat go.mod | grep "go.k6.io/k6" | cut -d' ' -f 2)
          echo "K6_VERSION=$K6_VERSION" >> $GITHUB_ENV
      - name: Install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: "1.25"
          cache: false
      - name: Build with xk6
        env:
          K6_VERSION: ${{ env.K6_VERSION }}
        run: |
          go install go.k6.io/xk6/cmd/xk6@latest
          xk6 build --with $(go list -m)=.

  build-with-xk6-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false
      - name: get k6 version
        run: |
          K6_VERSION=$(cat go.mod | grep "go.k6.io/k6" | cut -d' ' -f 2)
          echo "K6_VERSION=$K6_VERSION" >> $GITHUB_ENV
      - name: Build with xk6
        env:
          K6_VERSION: ${{ env.K6_VERSION }}
        run: |
          docker run --rm -i -u "$(id -u):$(id -g)" \
             -v "${PWD}:/xk6-disruptor" \
             -e K6_VERSION="${K6_VERSION}" \
             grafana/xk6 build --with $(go list -m)=/xk6-disruptor

  run-unit-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false
      - name: Install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version-file: go.mod
          cache: false
      - name: Run unit tests
        run: go test -v -cover -race ./...

  run-linter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false
      - name: Install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version-file: go.mod
          cache: false
      - name: Set golangci-lint environment
        run: |
          LINT_VERSION=$(head -n 1 "${GITHUB_WORKSPACE}/.golangci.yml" | tr -d '# ')
          echo "LINT_VERSION=${LINT_VERSION}" >> $GITHUB_ENV
        id: version
      - name: golangci-lint
        uses: golangci/golangci-lint-action@55c2c1448f86e01eaae002a5a3a9624417608d84 # v6.5.2
        with:
          version: ${{ env.LINT_VERSION }}
          args: --timeout=10m
          verify: false

  codespell:
    name: Codespell
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false
      - name: Codespell test
        uses: codespell-project/actions-codespell@8f01853be192eb0f849a5c7d721450e7a467c579 # v2.2
